.signupForm-container {
  display: block;
  margin-left: 4rem;
  width: fit-content;
  max-width: "100%";
}

.button-containers {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.action-button {
  width: 409px;
  height: 44px;
  border: 1px solid #c9c7c7;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color 0.4s;
  color: #4a4a4a;
}

.action-button:hover {
  background-color: #c9c7c7;
}
