.classes-tooltip-container {
  border: 1px solid black;
  background-color: white;
  width: 363px;
  height: 341px;
  position: absolute;
  top: 150px;
  left: 150px;
}

.classes-tooltip-container h3 {
  color: #833bf9;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  margin: 0;
}

.classes-tooltip-container p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #262338;
}

.classes-tooltip-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 55px 8px 125px 35px;
}

.classes-tooltip-link {
  text-decoration: underline;
  color: black;
  margin: 0;
}
