.firstSection {
  margin: 15% 50% 15% 10%;
}

.firstSectionForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.firstSectionButton {
  margin: 20px;
  padding: 15px 30px;
  border-radius: 15px;
}

.blue {
  background-color: #3E92CC;
  color: white;
  border-color: #3E92CC;
}

.white {
  background-color: white;
  border-color: #3E92CC;
  color: #3E92CC;
}

.secondSection {
  margin: 0 5%;
}

.thirdSection {
  margin: 0 5%;
  background-color: rgb(250, 236, 236);
}

.thirdSectionLabel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 100);
}

.thirdSectionTitle {
  color: white;
  margin: 2% 4%;
}

.thirdSectionTitleButton {
  text-decoration: none;
  border-radius: 3px;
  background-color: rgb(26, 150, 199);
  color: white;
  margin-right: 4%;
  padding: 13px 30px;
}

button {
  cursor: pointer;
}

.thidSectionClassesSection {
  display: flex;
  padding: 0.5rem 1.5rem;
  border-top: 10px solid #9F9F9F;
  align-items: center;
  justify-content: space-between;
  min-height: 4.5rem;
}

.thirdSectionClassesLeftSectionLine1 {
  font-size: x-large;
  font-weight: bold;
}

.thirdSectionClassesButton {
  text-decoration: none;
  border-radius: 3px;
  background-color: rgb(26, 150, 199);
  color: white;
  padding: 13px 30px;
  border: none;
}

.thirdSectionClassesMiddleSectionLink {
  color: rgb(26, 150, 199);
  text-decoration: underline;
  cursor: pointer;
}

.thirdSectionClassesMiddleSectionLink:hover {
  color: purple;
}

.thirdSectionTitleButton:hover,
.thirdSectionClassesButton:hover {
  background-color: purple;
}

.thirdSectionClassesMiddleAndRightSectionTitle {
  font-size: large;
  font-weight: 600;
  margin-bottom: 5px;
}

.thirdSectionClassesLeftBorder {
  display: flex;
  flex-direction: column;
  border-left: 2px solid white;
  padding-left: 15px;
  margin: auto;
}

.thirdSEctionClassesFirstSection {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}
